.recipes-page {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
